html,
   body,
   div,
   ul,
   ol,
   li,
   dl,
   dt,
   dd,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   pre,
   form,
   p,
   blockquote,
   fieldset,
   input {
     padding: 0;
     margin: 0;
   }
   
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   pre,
   code,
   address,
   caption,
   cite,
   code,
   em,
   strong,
   table,
   th,
   td {
     font-size: 1em;
     font-style: normal;
     font-weight: normal;
   }
   
   strong {
     font-weight: bold;
   }
   
   ul,
   ol {
     list-style: none outside none;
   }
   
   fieldset,
   img {
     border: medium none;
     vertical-align: middle;
   }
   
   caption,
   th {
     text-align: left;
   }
   
   table {
     border-collapse: collapse;
     border-spacing: 0;
   }
   
   body {
     min-width: 1200px;
     font: 14px/normal "Microsoft Yahei", arial, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
     color: #666;
     background: #FFF none repeat scroll 0 0;
   }
   
   input,
   select,
   textarea,
   button {
     font: 14px/normal"Microsoft Yahei", arial, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
   }
   
   i,
   cite,
   em {
     font-style: normal;
   }
   
   input,
   button,
   select,
   textarea {
     outline: none
   }
   
   a {
     text-decoration: none;
   }
   
   html,
   body,
   div,
   ul,
   li,
   a,
   i,
   img,
   span,
   :before,
   :after {
     -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
     -ms-transition: all 0.3s;
     -o-transition: all 0.3s;
     transition: all 0.3s;
   }
   
   .clearfix:before,
   .clearfix:after {
     content: " ";
     display: table;
   }
   
   .clearfix:after {
     clear: both;
   }
   
   .hide {
     display: none!important;
   }
   
   .fl {
     float: left;
   }
   
   .fr {
     float: right;
   }
   /*text*/
   
   .txt-14 {
     font-size: 14px;
   }
   
   .txt-16 {
     font-size: 16px;
   }
   
   .txt-18 {
     font-size: 18px;
   }